.slider-container
{padding: 0;
    margin: 0;
display: flex;
justify-content: center;
align-content: center;}




.custom-slider-img
{padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 1108px;
    height: 543.56px;
}